html{
    font-size: 62.5%;
}
.offer .bg-img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.9;
    box-shadow: inset .0rem .0rem 40.0rem rgba(0, 0, 0, 0.6);
}
.offer .bg-img img{ 
    z-index: -1;
    transform: scale(1);
}
.offer .content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 25.0rem;
    background-color: rgba(255, 255, 255, 0.153);
    backdrop-filter: blur(2px);
    border-radius: 1.0rem;
    transition: 0.2s;
}
.offer .content .left-bt,.right-bt{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.0rem;
    height: 5.0rem;
    background-color: white;
    border-radius: 5.0rem;
    transition: 0.1s;
}
.offer .content .left-bt i,.right-bt i{
    transition: 0.1s;
}
.offer .content .left-bt:hover ,.right-bt:hover{
    background-color: rgba(255, 146, 4, 0.973);
    color: white;
}
.offer .content .left-bt:hover i{
    margin-right: .5rem;
    transform: scale(1.1);
}
.offer .content .right-bt:hover i{
    margin-left: .5rem;
    transform: scale(1.1);
}
.offer .content .left-bt{
    left: -2.5rem;
}
.offer .content .right-bt{
    right: -2.5rem;
}
.offer .content .offer-box{
    position: absolute;
    display:flex;
    align-items:center;
    width: 90%;
    height: 90%;
    background-color: transparent;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    transition: 2s;
}
.offer .content .offer-box::-webkit-scrollbar{
    display: flex;
}
.offer .content .offer-box .off{
    position:relative;
    width: 22.0rem;
    height:18.0rem;
    background-color: white;
    border-radius: 2.0rem;
    box-shadow: 0p .0rem 1.0rem rgba(0, 0, 0, 0.1);
    margin:3.0rem;
    transition:0.3s;
}
.offer .content .offer-box .off img{
    width: 22.0rem;
    height: 18.0rem;
    border-radius: 1.5rem;
}

.offer .content .offer-box .off:hover{
    transform: scale(1.06);
    opacity: 1;
}

/*For screen below the 60.0rem*/
@media only screen and (max-width:600px){
    html{
        font-size: 55%;
    }
    .offer .content .offer-box{
        width: 85%;
    }
    .offer .bg-img{
        box-shadow: inset .0rem .0rem 25.0rem rgba(0, 0, 0, 0.01);
    }
    .offer .bg-img img{ 
        margin-left: 4.5rem;
        transform: scale(0.45);
    }
}